@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    width: 100%;
    font-family: Poppins, sans-serif;
    align-items: center;
    justify-content: center;
}

main {
    width: 100%;
}

.hero-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10vh;
    color: cornflowerblue;
}

.search-input {
    margin-top: 2rem;
    display: grid;
    grid-template-areas:
    'title title title'
    'bar bar button';
    grid-gap: 2rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: cornflowerblue;

    h2 {
        grid-area: title;
        text-align: center;
    }

    #search-input {
        grid-area: bar;
        width: 16rem;
        border: 1px solid black;
        border-radius: 15px;
        padding: 0.7rem;
        text-align: center;
    }

    #search-button {
        grid-area: button;
        height: 2rem;
        aspect-ratio: 2;
        padding: 0.1rem;
        border: deepskyblue solid 1px;
        border-radius: 15px;
        background-color: cornflowerblue;

        &:active {
            background-color: deepskyblue;
        }

        img {
            height: 60%;
            object-fit: contain;
        }
    }
}

.alert {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}




